:root {
  --snillrik-waykeblue: #022d3f;
  --white: #ffffff;
}

.snillrik-waykesearch-main{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  padding: 10px;
}

.snillrik-waykesearch-boxwrap{
  flex: 1 0 33%;
  padding: 5px;
  cursor: pointer;
  max-width: 33%;
}

.snillrik-waykesearch-boxwrap input, .snillrik-waykesearch-boxwrap select{
  width:100%;
  color:#9e9e9e;
}

.snillrik-waykesearch-boxwrap.is_selected select{
  color:#000;
}

.snillrik-waykesearch-boxwrap option{
    color: #000;
}
.snillrik-waykesearch-boxwrap option:first-child{
    color: #9e9e9e;
}
.snillrik-waykesearch-boxwrap select:checked{
  color: red;
}

.snillrik-waykelist-main{
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: left;
  overflow: auto;
  padding: 10px;
}

.snillrik-waykepaginator{
  width:100%;
  display: flex;
  justify-content:center;
}
.pagination-number{
  margin: 10px 2px;
}
.pagination-number a{
  padding: 5px 15px;
  background: var(--snillrik-waykeblue);
  border-radius: 3px;
  color: white;
}

.snillrik-waykebox{
  border: 1px solid #d2d2d2;
  padding: 10px;
  color: black;
  margin-bottom: 10px;
}

.snillrik-waykebox-flex{
  display: flex;
}

.snillrik-waykepricebox{
  font-size: 150%;
}
.snillrik-waykebox-left, .snillrik-waykebox-right{
  flex: 1 0 50%;
}
.snillrik-waykebox-right{
  text-align: right;
}

.snillrik-waykestandardbox-item{
  flex: 1 0 33%;
  padding: 5px;
  cursor: pointer;
  max-width: 33%;
}

.snillrik-waykestandardbox-item-inner{
  background:white;
  padding:5px;
  border-radius: 3px;
  box-shadow: 0px 0px 0px #00000000;
  transition: box-shadow 1s;
}
.snillrik-waykestandardbox-item-inner:hover{
  box-shadow: 1px 1px 10px #00000062;
  transition: box-shadow 1s;
}

.snillrik-waykeimage{
  max-width: 100%;
}

.snillrik-waykeover-info{
  background: #022d3f;
  color: white;
  display: block;
  padding: 0px 10px;
  margin-top: -26px;
  position: relative;
  width: 50%;
}

.snillrik-waykeinfo{
  color: black;
  padding: 10px;
}

.snillrik-waykeinfo-inner{
  height: 60px;
  overflow: hidden;
}

.snillrik-waykeinforow{
  display:flex;
}
.snillrik-waykeinforow div{
  flex: 1 0 50%;
  font-weight: bold;
}
.snillrik-waykeinforow div:last-child{
  text-align: right;
  font-weight: normal;
}

.snillrik-waykeunder-info{
  background: #022d3f;
  color: white;
  padding: 10px;
}

.snillrik-waykeprice{
  float:right;
}

.snillrik-waykeitem-main{
  display: flex;
}

.snillrik-waykeitem-full{
  flex: 1 0 100%;
  max-width: 100%;
  margin-right: 10px;
}
.snillrik-waykeitem-left{
  flex: 1 0 67%;
  max-width: 67%;
  margin-right: 10px;
}
.snillrik-waykeitem-right{
  flex: 1 33%;
  max-width: 33%;
}

.snillrik-waykeitem-options{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}
.snillrik-waykeitem-optionbox{
  flex: 1 0 50%;
  max-width: 50%;
}
.snillrik-waykeitem-optionbox-inner{
  background:var(--snillrik-waykeblue);
  color: white;
  margin: 2px;
  padding: 3px 10px;
}

.snillrik-waykeitem-infos{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}
.snillrik-waykeitem-infobox{
  flex: 1 0 33%;
  max-width: 33%;
}
.snillrik-waykeitem-infobox-inner{
  /* background:var(--snillrik-waykeblue); */
  margin: 2px;
  padding: 3px 10px;
}


/*Slidern*/
.snillrik_sliderbox_inner{
  height: 560px;
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 600px) {
  h4{
    text-align: left;
  }

  .snillrik-waykelist-main {
    flex-direction: column;
  }
  .snillrik-waykestandardbox-item {
    flex: 1 0 100%;
    max-width: 100%;
}

  .snillrik-waykeitem-main {
    flex-direction: column;
  }
  .snillrik-waykeitem-left,.snillrik-waykeitem-right{
    flex: 1 0 100%;
    max-width: 100%;
  }
  .snillrik-waykeitem-optionbox{
    flex: 1 0 100%;
    max-width: 100%;
  }
  .snillrik-waykeitem-infobox{
    flex: 1 0 100%;
    max-width: 100%;
  }
  .snillrik_sliderbox_inner {
    height: 230px;
  }
}